<div class="bg" [ngClass]="config.wallpaper.type"
  [style.backgroundImage]="'url(' + config.wallpaper.link + ')' | bypass:'style'"
></div>

<nav>
  <div class="logo">
    <a [routerLink]="['/']">B-Man</a>
  </div>

  <div class="menu">
    <div class="searchbox" title="Search">
      <form>
        <input type="search" ng-model="search.name">
        <i class="icons icon-search"></i>
      </form>
    </div>
    <div class="buttons" ng-controller="Buttons">
      <a [routerLink]="['add']">
        <i class="icons icon-add" title="Add Bookmark"></i>
      </a>
      <i class="icons icon-mote-vert" [class.activated]="config.editMode"
        [title]="config.editMode ? 'Deactivate' : 'Activate' + 'Edit Mode'"
        (click)="toggleEditMode()"
      ></i>
      <a [routerLink]="['settings']">
        <i class="icons icon-settings" title="Settings"></i>
      </a>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
