<div class="formcontainer">
	<form name="form" class="form" ng-controller="Form" ng-submit="edit(files)">
		<div class="errorBox" ng-show="errMsg">{{errMsg}}</div>
		<input type="text" ng-model="bookmark.name" placeholder="{{bookmark.type=='folder'? 'Folder' : 'Bookmark'}} Name">
		
		<input type="link" placeholder="Link" ng-model="bookmark.link" ng-hide="bookmark.type=='folder'" ng-blur="fixLink()" required>

		<label>Move To Folder</label>
		<select ng-model="bookmark.parentId">
			<option value="">Root</option>
			<option value="{{folder.id}}" ng-repeat="folder in folders">{{folder.name}}</option>
		</select>
		
		<input type="file" ng-model="files" ng-file-select="upload()">
		
		<select ng-model="colorOption" ng-change="changeColorOption()">
			<option value="">Color Selection Method:</option>
			<option value="A">Auto Detect Color</option>
			<option value="B">Pick Color from Photo</option>
			<option value="C">Pick Color from Color Wheel</option>
		</select>
		
		<div class="preview" style="background: {{colorMaker(bookmark.rgb, bookmark.a)}}">
			<div class="img">
				<img id="{{bookmark.id + bookmark.ext}}" src="{{bookmark.img}}">
				<canvas id="canvas1" height="100px" width="100px" ng-click="pickColor($event, 'canvas1')"></canvas>
			</div>
		</div>
		
		<input type="range" ng-model="opacity" min='0' max='100' ng-change="setOpacity()" title="Opacity: {{opacity}}">
		
		<div class="colorWheelCont" ng-show="colorOption == 'C'">
			<img id="colorWheel" src="./assets/img/Color_Wheel.png">
			<canvas id="canvas2" height="200px" width="200px" ng-click="pickColor($event, 'canvas2')"></canvas>
		</div>
		
		<input type="submit" ng-disabled="!form.$valid" ng-class="{disabled: !form.$valid}" class="button" value="Update">
	</form>
</div>