<!DOCTYPE html>
<html ng-app="B-Man" style="min-height:90%">

<head>
	<title>B-Man</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./assets/css/FontAwesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body ng-controller="Bookmarks">

	<div class="formcontainer" ng-controller="Add">
		<form name="form" class="form" ng-controller="Form" ng-submit="add(true)">
			<div class="errorBox" ng-show="errMsg">{{errMsg}}</div>
			<input type="text" ng-model="bookmark.name" placeholder="{{createFolder?'Folder':'Bookmark'}} Name">

			<input type="link" placeholder="Link" ng-model="bookmark.link" ng-hide="createFolder" ng-blur="fixLink()" required>

			<label>Add To Folder</label>
			<select ng-model="bookmark.parentId">
				<option value="">Root</option>
				<option value="{{folder.id}}" ng-repeat="folder in folders">{{folder.name}}</option>
			</select>

			<input type="submit" ng-disabled="!form.$valid" ng-class="{disabled: !form.$valid}" class="button" value="Add">
		</form>
	</div>

  <script src="./node_modules/angular/angular.min.js"></script>
  <script src="./node_modules/angular-route/angular-route.min.js"></script>
  <script src="./node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="./node_modules/ng-file-upload/dist/angular-file-upload.min.js"></script>
  <script src="./node_modules/filesaver.js-npm/FileSaver.min.js"></script>
  <script src="./node_modules/jszip/dist/jszip.min.js"></script>
  <script src="./assets/js/color-thief.min.js"></script>
  <script src="./assets/js/ColorService.js"></script>
  <script src="./assets/js/FileService.js"></script>
  <script src="./assets/js/main.js"></script>
</body>
</html>
